language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "12"

dist: xenial

addons:
  chrome: stable
cache:
  yarn: true

env:
  global:
    - JOBS=1
    - secure: jdfwWkawHI6Pxbkq64ihtdu0NnQbvLQrZXpaGDaavOn03ZA5sj1JCMKaw46Fg/q84sQl0VPUWDVXKBiGDvYTWFI84h3UZEtLZl6I0x6j5sV/6g1zzLI6AZ/v2VE/ELRytTTQ4FdPcKlxi9Gn5v7vi3lpWYvMaU8IAWVoZvSPj0R7jwolR44/O2nLzcqH98Dzw5LKMPT9PMgoz7f4C/8YewjVtZgHzQXEZkipkWHDmt9LzulU4Im5s7UJGPPGK/BWBDgxrpScetbxO5hOZS1dFZz0v5WBAwWxYRd1tD+SCXkKNHrJi7+QMnAw68NxyGzDRN7YD+AWNMhjPEGt2fXUkX+sBRTOUoJ+BuCsVBpiROvN3glv8WUc0IaYPLS4xnalN1/e4ArHXVgLYockYTNlOpo4Oo0S3R2u4reYvQxCjTVaFERXRm1Q+RQe+3sfLPmO/uswMtkIGZ7n9Xd8ER3y+z0cxZS2S5aghF3lmATsmrU3CP8HvkRsr9fy/DDGNr2BEvoK64oGc7kHdc4EqPOauPYKZNXH4DdAaSpTmDmYGG5bkkAQ+pRE+h9VhBd5xvZMQmG6aH+xSIvpOCkBzF5U8OVJr0/qhWg9BzUl6kgua+Ri9MDFcwqKv9bR20kYv3krDSkV4zYvvG0fDbllrW76fDF7l3I4ysGWxspLfik2qu0=

branches:
  only:
    - master
    # npm version tags
    - /^v\d+\.\d+\.\d+/

jobs:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

  include:
    # runs linting and tests with current locked deps
    - stage: "Tests"
      name: "Tests"
      script:
        - yarn lint
        - yarn test:ember

    - stage: "Additional Tests"
      name: "Floating Dependencies"
      install:
        - yarn install --no-lockfile --non-interactive
      script:
        - yarn test:ember

    # we recommend new addons test the current and previous LTS
    # as well as latest stable release (bonus points to beta/canary)
    - env: EMBER_TRY_SCENARIO=ember-lts-3.20
    - env: EMBER_TRY_SCENARIO=ember-lts-3.24
    - env: EMBER_TRY_SCENARIO=ember-release
    - env: EMBER_TRY_SCENARIO=ember-beta
    - env: EMBER_TRY_SCENARIO=ember-canary
    - env: EMBER_TRY_SCENARIO=ember-default-with-jquery
    - env: EMBER_TRY_SCENARIO=ember-classic
    - env: EMBER_TRY_SCENARIO=embroider-safe
    - env: EMBER_TRY_SCENARIO=embroider-optimized
