& {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #bfc5cd;

  margin-bottom: 1rem;

  .nav-bar-link {
    background-color: transparent;
    border-left: 1px solid #bfc5cd;
    border-right: 1px solid #bfc5cd;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    text-decoration: none;

    color: #37393a;

    &.active {
      color: #f9aa2c;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
